.login-form {
    max-width: 600px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.pad {
    padding-top: 50px
}

.left {
    border-right: 1px solid #dfe4ea;
}

.center {
    
   
}